textarea {
    border: none;
    resize: none;
    background-color: #d8dddf;
}

textarea:focus {
    outline: none;
}

.test {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}