.create-note {
    background-color: #bbdcff;
    border-radius: 10px;
    border: 2px solid #808080;
    color: #fff;
    padding: 15px;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}

.create-note-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

