
.search {
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 1.5em;
    width: 100%;
    border: none;
}

.search:focus {
    outline: none;
}
