@import "src/sassStyles/variables";

.search-tags {
    display: flex;
    align-items: center;
    background-color: $white-color;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 1.5em;
    width: 100%;
    border: none;

    &:focus {
        outline: none;
    }
}


